.displayDivContainer{
    margin: 10px;
    border: 1px solid grey;
} 
.displayDiv{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}
.mapDivCart{
    width: 33%;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
}