div.displayPostsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBE0;
}

div.displayPosts{
    width: 60%;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    background-color: #fff;
    margin-top: 8px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
}

div.createPost{
    margin-top: 5px;
    border: 1px solid #c8c8c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 3px;  
}

div.postsMap{
    width: 90%;
    border: 1px solid #c8c8c8;
    margin: 5px;
    padding: 5px;
    background-color: #f4f4f4;
    border-radius: 4px;
}

input.communityInput{
    border: 1px solid #BCBCBC;
    border-radius: 3px;
    padding: 5px;
    font-size: 1rem;
    width: 70%;
    font-family: ProximaNova,Arial,sans-serif;
    box-shadow: 0 0 0 1px transparent, inset 0 15px 10px -17px #000, 0 1px 0 #FFB3FF;
    margin: 3px;
}

button.createPostButton{
    background-color: #33B1EF;
    width: 60%;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 2px;
    margin: 3px;
    font-size: 1rem;
    font-weight: 450;
    box-shadow: none;
    transition: box-shadow .4s;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    color: #fff;
}

button.createPostButton:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px grey;
    transition: box-shadow .4s;
}

@media screen and (max-width: 600px){
     div.displayPosts{
         width: 100%;
         margin-top: 0px;
     }
}