div.thankyou-content-container{
    border: 1px solid #EBEBE0;
}

div.thankyou-content-container:hover{
    border: 1px solid #33B1EF;
}

button.ok-button:hover{
    width: 60% !important;
    transition: width 0.5s;
    cursor: pointer;
}

h3.enjoypurchase2{
    display: none;
}

@media screen and (max-width: 600px){
    .main{
        background-position: center;
        background-size: cover;
    }
    .enjoypurchase{
        display: none;
    }
    div.thankyou-content-container{
        width: 90% !important;
        height: 50vh !important;
    }
    button.ok-button{
        width: 70% !important;
        font-size: 1.3rem !important;
    }
    .checkmark{
        width: 15vw !important;
        margin-top: 10px !important;
    }
    h1.thankyou-text{
        font-size: 3rem;
    }
    h3.enjoypurchase2{
        display: block;
    }
}
