.main{
    background-image: url(./../../images/coolbackground2.jpg);
    background-position: center;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    overflow: hidden;
    animation-direction: alternate;

    animation: mainAnimation 30s linear infinite;
}
@keyframes mainAnimation{
    0% {background-position: 100% 0;}
    50% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}
button.ok-button:hover{
    width: 50% !important;
    background-color: darkgrey !important;
    transition: width 0.5s;
}

@media screen and (max-width: 600px){
    .main{
        background-position: center;
        background-size: cover;
    }
    .enjoypurchase{
        display: none;
    }
    div.thankyou-content-container{
        width: 70% !important;
        height: 50vh !important;
    }
    button.ok-button{
        width: 60% !important;
    }
    .checkmark{
        width: 12vw !important;
        margin-top: 10px !important;
    }
}
