.display{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.mapDiv{
    width: 33%;
    align-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}
.mapDiv:hover{
    opacity: 1;
}

@media screen and (max-width: 600px){
    .display{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .mapDiv{
        width: 100%;
        align-content: center;
        align-items: center;
        text-align: center;
        margin: 10px
    }
}