@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
#myNav{
    background-color: #303030;
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.nav-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.nav-title{
    color: #33B1EF;
    font-size: 3rem;
    margin-left: 5px;
    font-family: 'Roboto Slab', serif;
}
.nav-buttons-container{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.nav-buttons{
    border: none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    /* border-radius: 4px; */
    font-size: 1.3rem;
    font-weight: 450;
    color: #fff;
    padding: 16px;
}
.nav-buttons:hover{
    /* background-color: #dfdfdf; */
    border-bottom: 3px solid;
    border-bottom-color: #33B1EF;
    transition: background-color 0.3s;
    cursor: pointer;
    transition: border-bottom-color .4s ease-out;
    transition: all .15s ease-in;
}
.icon{
    display: none;
    margin-right: 8px;
    color: black;
}

@media screen and (max-width: 600px){

    #expand{
        display: none;
    }

    .icon{
        display: block;
    }
    .nav{
        position: sticky;
    }
    .nav-buttons-container{
        /* margin-top: 100px; */
        display: flex;
        flex-direction: column;
    }
    .nav-buttons{
        font-weight: 500;
        font-size: 1.4rem;
        padding: 0px;
        color: #33B1EF;
    }
    .nav-title{
        display: none;
    }
    .nav-title-container, img{
        width: 60px;
        height: 60px;
    }
}
