.accountpage-main{
    width: 100%;
    background-color: #EBEBE0;    
}
.account-content-container{
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 70%;
    /* height: 100%; */
    margin-top: 8px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    padding: 10px;
}

h2.accountHeader{
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
    padding-bottom: 15px;
}

@media screen and (max-width: 600px){
    .accountpage-main{
        background-position: center;
        background-size: cover;
        animation: accountPageAnimation 30s linear infinite;
    }
    .account-content-container{
        width: 85%;
    }
}